@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --clr-dark: #222222;
    --clr-light: #dddddd;
    --clr-blue: #03ecfc;
    --clr-green: #03fca5;
    --clr-yellow: #fcf403;
    --clr-orange: #fc8003;
    --clr-red: #fc0314;
    --clr-pink: #fc039d;
    --clr-purple: #e703fc;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #333333;
}
.lesson-container{
    border-radius: 1em;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1em;
    padding: 1em;
}

.grid-two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
}

.image-header{
    width: 100%;
    overflow: hidden;
    height: 200px;
}

.image-header>img{
    width: 100%;
    height: auto;
    transform: translateY(-50%);
}

.section-header{
    border-radius: 1em;
    background-color: #dddddd;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 100px;
}

.placeholder{
    border-radius: 1em;
    background-color: #dddddd;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 200px;
}

.placeholder::after{
    content: "placeholder";
    font-size: 1.5em;
}

