@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --clr-dark: #222222;
    --clr-light: #dddddd;
    --clr-blue: #03ecfc;
    --clr-green: #03fca5;
    --clr-yellow: #fcf403;
    --clr-orange: #fc8003;
    --clr-red: #fc0314;
    --clr-pink: #fc039d;
    --clr-purple: #e703fc;
    
    --border-radius: 1em;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #333333;
}
p{
    margin-top: 1em;
}

section{
    padding: 1em;
    margin-top: 2em;
    border-radius: var(--border-radius);
}

.lesson-container{
    border-radius: var(--border-radius);
    background-color: var(--clr-dark);
    color: var(--clr-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin: 1em;
    padding: 3em;
}

.grid-two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    row-gap: 2em;
}

.left-offset-two-column{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
}

.right-offset-two-column{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1em;
    row-gap: 1em;
    margin-top: 1em;
}

.step-offset{
    display: grid;
    grid-template-columns: 120px auto;
    column-gap: 1em;
    row-gap: 1em;
    margin-top: 2em;
}

.image-header{
    width: 100%;
    overflow: hidden;
    height: 200px;
    border-radius: var(--border-radius);
}

.image-header>img{
    width: 115%;
    height: auto;
    transform: translateY(-40%);
}

.section-header{
    border-radius: var(--border-radius);
    background-color: #dddddd;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 100px;
}

.video-iframe{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: var(--border-radius);
}

a{
    color: var(--clr-orange);
}
li{
    padding-top: 0.3em;
    padding-left: 1em;
}
li::marker{
    padding-right: 1em;
}

li.title{
    padding-top: 1em;
    /* font-size: 1.5em; */
}
li.title::marker{
    font-size: 1.2em;
}
ol.roman{
    list-style-type: upper-roman;
}
ol.indent-one.roman{
    list-style-type: lower-roman;
}
ol.indent-two.roman{
    list-style-type: lower-alpha;
}

ul{
    list-style-type: disc;
}
ul.indent-one{
    list-style-type: circle;
}
ul.indent-two{
    list-style-type: square;
}
.no-indent{
    padding-left: 0;
}
.indent-one{
    padding-left: 20px;
}

.indent-two{
    padding-left: 40px;
}

.step-number{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 80px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

.one::after{
    content: "1";
}

.two::after{
    content: "2";
}

.three::after{
    content: "3";
}

.four::after{
    content: "4";
}

.five::after{
    content: "5";
}

.placeholder{
    border-radius: 1em;
    background-color: #dddddd;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 200px;
}

.placeholder::after{
    content: "placeholder";
    font-size: 1.5em;
}

.sm-spacer{
    width: 100%;
    height: 25px;
}

.med-spacer{
    width: 100%;
    height: 50px;
}

.lg-spacer{
    width: 100%;
    height: 100px;
}

/* ======= COLOR HELPERS ==========  */

.bordered{
    border: 2px solid var(--clr-light);
}
.bordered.blue{
    border-color: var(--clr-blue);
}

.blue-bg{
    background-color: var(--clr-blue);
    color: var(--clr-dark);
}
.bordered.green{
    border-color: var(--clr-green);
}
.green-bg{
    background-color: var(--clr-green);
    color: var(--clr-dark);
}
.bordered.red{
    border-color: var(--clr-red);
}
.red-bg{
    background-color: var(--clr-red);
    color: var(--clr-dark);
}
.bordered.yellow{
    border-color: var(--clr-yellow);
}
.yellow-bg{
    background-color: var(--clr-yellow);
    color: var(--clr-dark);
}
.bordered.orange{
    border-color: var(--clr-orange);
}
.orange-bg{
    background-color: var(--clr-orange);
    color: var(--clr-dark);
}
.bordered.purple{
    border-color: var(--clr-purple);
}
.purple-bg{
    background-color: var(--clr-purple);
    color: var(--clr-dark);
}
.bordered.pink{
    border-color: var(--clr-pink);
}
.pink-bg{
    background-color: var(--clr-pink);
    color: var(--clr-dark);
}

